<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
                
                <pre>
.__======____=---=).................................................................
/\            \_--===)..............................................................
[ \ (0)   \~    \_-==)..............................................................
.\   \      / )J~~    \-=)..........................................................
..\  \\\\___/  )JJ~~~   \)..........................................................
...\_____/JJ~~~~~    \\.............................................................
.../ \  , \J~~~~~     \\............................................................
...(-\)\=|\\\\\~~~~       L__.......................................................
...(\\\\)  (\\\\\)_           \==__.................................................
...\V    \\\\\) ===_____   \\\\\\\\\\\\.............................................
...........\V)     \_) \\\\\\\\JJ\J\)...............................................
......................./J\JT\JJJJ)..................................................
.......................(UU)'...............................................@pennatia</pre>

            </section>

            <section class="page__aside">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
